@model IEnumerable<UserRegistration.Application.Models.UserBusinessModel>

@{
    ViewData["Title"] = "Index";
}

<h4>Users Listing</h4>

<p>
    <a  asp-action="CreateUser">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @if (item.UserName != "SuperAdmin")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) <span>|</span>
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }) <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId }) 
                }
            </td>
        </tr>
}
    </tbody>
</table>
